$dark: #212121;
$green: linear-gradient(to right, #00f973, #00f9a6);
body {
  background-color: $dark;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}
main {
  display: grid;
  width: 1100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
nav {
  display: flex;
  align-items: center;
  height: 70px;

  p.name {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
  ul {
    margin: 0;
    margin-left: auto;
    padding-left: 0;
    li {
      list-style-type: none;
      display: inline;
      text-transform: uppercase;
      margin-left: 30px;
      &.selected {
        background-image: $green;
        padding: 5px 22px;
        border-radius: 200px;
        color: $dark;
      }
      a {
        text-decoration: none;
        color: white;
        opacity: 0.7;
        transition: all 0.2s ease-in;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
div.content {
    display: grid;
    grid-template-columns: auto 360px;
    align-items: center;
    div.text {
      h1 {
        font-size: 64px;
      }
      a {
        padding: 14px 31px;
        border-radius: 4px;
        width: 52px;
        height: 252px;
        text-decoration: none;
        color: $dark;
        font-weight: 500;
        background-image: $green;
      }
    }
    img {
      max-width: 300px;
    }
}